:root{
        html, body{
        width: 100vw;
        height: 100vh;
        box-sizing: content-box;
        margin: 0;
        padding: 0;
    }
    #root{
        width: 100vw;
        height: 100vh;
    }
}