.green_button{
    height: 50px;
    width: 50px;
    border-radius: 20px;
    display: flex;
    background-color: green;
    margin-right: 10px;
    cursor: pointer;
}

.blue_button{
    height: 50px;
    width: 50px;
    border-radius: 20px;
    display: flex;
    background-color: blue;
    margin-right: 10px;
    cursor: pointer;
}

.red_button{
    height: 50px;
    width: 50px;
    border-radius: 20px;
    display: flex;
    background-color: red;
    margin-right: 10px;
    cursor: pointer;
}