  .blue_square{
    height: 250px;
    width: 250px;
    background-color: royalblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  .green_square{
    height: 250px;
    width: 250px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
  }