.chat_container{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
.chat_event_container{
    width: 95%;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 15px;
    .chat_event{
      &.yell{
        color: #FFB22A
      }
      &.guild{
        color:#85FF64;
      }
      &.whisper{
        color: #FF26F5
      }
      &.trade{
        color: red
      }
      &.player{
        color: yellow
      }
      &.loot{
        color:green
      }
    }
    .event_clicker{
      cursor: pointer;
    }
    }
}