.site_container{
  height: 100%;
  width: 100%;
  display: flex;
  box-sizing: content-box;
  background-color: white;
  flex-direction: column;
  .squares_container{
    height: 100%;
    width: 100%;
    display: flex;
  }
}