.chat_selector_container{
    width: 80%;
    height: 50px;
    border-top: 3px #FF9678 solid;
    border-right: 3px #FF9678 solid;
    border-left: 3px #FF9678 solid;
    display: flex;
    justify-content: flex-start;
    .chat_selector_btn{
      height: 100%;
      width: 100px;
      background-color: grey;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      &.active{
        background-color: #d1d1d1;
      }
    }
    .combat_chat_selector_container{
      margin-left: auto;
      display: flex;
      flex-direction: row;
    }
  }
  .chat_container{
    height: 40%;
    width: 80%;
    display: flex;
    flex-direction: column;
    border: 3px #FF9678 solid;
    background-color: #313866;
    color: white;
    font-size: 20px;
    justify-content: flex-end;
    overflow: scroll;
  }
  .input_container{
    width: 80%;
    height: 50px;
    border-bottom: 3px #FF9678 solid;
    border-right: 3px #FF9678 solid;
    border-left: 3px #FF9678 solid;
    display: flex;
    justify-content: flex-start;
    .chat_channel{
      display: flex;
      align-items: center;
      background-color: white;
      justify-content: center;
      width: 10%;
      font-family: 'Heebo';
      &.yell{
        color: #FFB22A
      }
      &.guild{
        color:#85FF64;
      }
      &.whisper{
        color: #FF26F5
      }
      &.trade{
        color: red
      }
    }
    .chat_input{
      width: 100%;
      color:black;
      &.yell{
        color:#FFB22A
      }
      &.guild{
        color: #85FF64;
      }
      &.whisper{
        color: #FF26F5
      }
      &.trade{
        color: red
      }
    }
  }