.site_container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3a4b4f;
  flex-direction: column;
  .header{
    margin-bottom: 50px;
    font-size: 35px;
    color: white;
  }
}




